# OS / Editor / IDE files

.DS_Store
Thumbs.db
.Spotlight-V100/

# Editor directories and files
.vscode/
/.idea/
*.sublime-workspace
*.sublime-project
*~
*.swp


# Machine learning artifacts / models
models/
*.h5
*.ckpt
*.pt
*.pth
*.onnx

# Archives and binaries
*.zip
*.tar.gz
*.tar
*.tgz
*.rar
*.exe
*.dll

# Logs and runtime files
*.log
logs/

# Misc / OS caches
.cache/
